@theme {
  --color-zinc-50: var(--color-slate-50);
  --color-zinc-100: var(--color-slate-100);
  --color-zinc-200: var(--color-slate-200);
  --color-zinc-300: var(--color-slate-300);
  --color-zinc-400: var(--color-slate-400);
  --color-zinc-500: var(--color-slate-500);
  --color-zinc-600: var(--color-slate-600);
  --color-zinc-700: var(--color-slate-700);
  --color-zinc-800: var(--color-slate-800);
  --color-zinc-900: var(--color-slate-900);
  --color-zinc-950: var(--color-slate-950);
}

@theme {
  --color-accent: var(--color-blue-500);
  --color-accent-content: var(--color-blue-600);
  --color-accent-foreground: var(--color-white);
}

@layer theme {
  .dark {
      --color-accent: var(--color-blue-500);
      --color-accent-content: var(--color-blue-400);
      --color-accent-foreground: var(--color-white);
  }
}


@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
