<lexxy-prompt-item search="<%= tag.title %>" sgid="<%= tag.attachable_sgid %>">
  <template type="menu">
    <%= tag.title %>
  </template>
  <template type="editor">
    <span class="tag-chip tag-chip--small">
      <%= tag.hashtag %>
    </span>
  </template>
</lexxy-prompt-item>
