<div class="grid gap-4 md:grid-cols-2 lg:grid-cols-3">
  <% 3.times do |i| %>
    <%= render Elements::CardComponent.new do |c| %>
      <% c.with_header(title: "Card #{i + 1}", description: "Description #{i + 1}") %>
      <% c.with_body do %>
        <p class="text-sm">This is card number <%= i + 1 %> in the grid.</p>
      <% end %>
    <% end %>
  <% end %>
</div>
