<div class="flex flex-col items-center justify-center p-20" data-controller="toast-preview">
  <%= render Elements::ButtonComponent.new(data: { action: "click->toast-preview#show" }) do %>
    <%= lucide_icon "bell" %>
    Show Toast
  <% end %>

  <!-- Container where toasts will be spawned -->
  <div data-toast-preview-target="container" class="fixed top-4 right-4 z-50 flex flex-col gap-2 w-full max-w-sm pointer-events-none">
  </div>

  <!-- Template for the toast (hidden) -->
  <template data-toast-preview-target="template">
    <%= render Elements::ToastComponent.new(
      title: "Update Available",
      description: "A new version of the app is ready to install.",
      variant: :info,
      action_label: "Update now",
      action_href: "#",
      dismiss_after: 0
    ) %>
  </template>
</div>
