<%= render "admin/docs/shared/breadcrumb",
  items: [
    { text: "Docs", path: admin_docs_path },
    { text: "Accordion", path: nil }
  ] %>

<%= render "admin/docs/shared/page_header",
  title: "Accordion",
  description: "A vertically stacked set of interactive headings that each reveal a section of content." %>

<%= render "admin/docs/shared/preview_code_tabs", id: "accordion-example" do %>
  <div class="accordion">
    <details name="my_accordion">
      <summary>Is it accessible?</summary>
      <p class="pbe-4">Yes. It adheres to the WAI-ARIA design pattern.</p>
    </details>
    <details name="my_accordion">
      <summary>Is it styled?</summary>
      <p class="pbe-4">Yes. It comes with default styles that matches the other components' aesthetic.</p>
    </details>
    <details name="my_accordion">
      <summary>Is it animated?</summary>
      <p class="pbe-4">Yes. It's animated by default, but you can disable it if you prefer.</p>
    </details>
  </div>
<% end %>
