<div class="space-y-4">
  <%= render Ui::AlertComponent.new(
    title: "Default Alert",
    description: "This is a default variant alert message.",
    variant: :default
  ) %>
  <%= render Ui::AlertComponent.new(
    title: "Destructive Alert",
    description: "This is a destructive variant alert message.",
    variant: :destructive
  ) %>
</div>
