<%# locals: (idea:) %>
<div id="<%= dom_id(idea, :tags) %>" class="flex flex-wrap align-center gap">
  <% if idea.tags.any? %>
    <% idea.tags.each do |tag| %>
      <%= render "tags/tag", tag: tag, idea: idea, removable: false %>
    <% end %>
  <% end %>
</div>
