<%= content_for :title, t(".title") %>

<div class="center" style="max-inline-size: 48rem; padding: var(--space-4) var(--space-6);">
  <div class="flex align-center justify-space-between" style="margin-block-end: var(--space-4);">
    <h1 class="txt-x-large font-weight-semibold"><%= t(".title") %></h1>
  </div>

  <div class="card pad">
    <%= render "form", idea: @idea %>
  </div>
</div>
