<%= content_for :title, t(".title") %>

<div class="container container--padded">
  <div class="page-header page-header--compact flex align-center justify-space-between">
    <h1 class="txt-x-large font-weight-semibold"><%= t(".title") %></h1>
  </div>

  <div class="panel pad">
    <%= render "form", idea: @idea %>
  </div>
</div>
