<div class="flex items-center justify-center p-20">
  <%= render Elements::PopoverComponent.new do |popover| %>
    <% popover.with_trigger do %>
      <%= render Elements::ButtonComponent.new do %>
        <%= lucide_icon("settings", class: "mr-2") %>
        Settings
      <% end %>
    <% end %>

    <% popover.with_popover_content do %>
      <div class="grid gap-4">
        <div class="space-y-2">
          <h4 class="font-medium leading-none">Dimensions</h4>
          <p class="text-sm text-muted-foreground">
            Set the dimensions for the layer.
          </p>
        </div>
        <div class="grid gap-2">
          <div class="grid grid-cols-3 items-center gap-4">
            <label for="width" class="text-sm">Width</label>
            <input
              id="width"
              type="number"
              value="100"
              autocomplete="off"
              class="col-span-2 h-8 rounded-md border px-3">
          </div>
          <div class="grid grid-cols-3 items-center gap-4">
            <label for="height" class="text-sm">Height</label>
            <input
              id="height"
              type="number"
              value="25"
              autocomplete="off"
              class="col-span-2 h-8 rounded-md border px-3">
          </div>
          <div class="grid grid-cols-3 items-center gap-4">
            <label for="maxWidth" class="text-sm">Max. width</label>
            <input
              id="maxWidth"
              type="number"
              value="300"
              autocomplete="off"
              class="col-span-2 h-8 rounded-md border px-3">
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
