<%# locals: (items: []) %>

<div class="text-neutral-500 dark:text-neutral-400 text-sm md:mb-2">
  <div class="flex items-center gap-1.5">
    <% items.each_with_index do |item, index| %>
      <% if item[:path].present? %>
        <a href="<%= item[:path] %>" class="text-neutral-500 dark:text-neutral-400 relative text-sm"><%= item[:text] %></a>
      <% else %>
        <span class="text-neutral-900 dark:text-white font-medium"><%= item[:text] %></span>
      <% end %>

      <% if index < items.size - 1 %>
        <%= inline_svg_tag "icons/chevron-right.svg", class: "size-3 text-neutral-500" %>
      <% end %>
    <% end %>
  </div>
</div>