<%# locals(title:, items: []) %>

<div class="md:pl-10">
  <h3 class="text-neutral-500 dark:text-neutral-400 text-xs mb-2 font-medium"><%= title %></h4>
  <nav role="component nav">
    <ul class="font-normal text-[14px] leading-relaxed">
      <% items.each do |item| %>
        <li>
          <%= link_to item[:text], item[:path],
                      class: "block py-0.5 text-neutral-500 hover:text-neutral-900 dark:text-neutral-400 dark:hover:text-white truncate",
                      data: {
                        action: "click->admin--smooth#scroll",
                        admin_scroll_spy_target: "link"
                      } %>
        </li>
      <% end %>
    </ul>
  </nav>
</div>