<nav class="position-sticky flex-item-no-shrink overflow-y display-none lg:block" style="inset-block-start: 4rem; max-block-size: calc(100dvh - 4rem); inline-size: 12rem; padding-block-start: var(--space-12); padding-block-end: var(--space-16);">
  <ul role="list" style="padding: var(--space-2);">
    <li>
      <%= active_link_to staff_root_path,
            class: "flex align-center border-radius txt-small font-weight-bold",
            style: "gap: var(--space-3); padding: var(--space-2);",
            active_class: "fill-selected",
            inactive_class: "" do %>
        <%= lucide_icon "house", class: "size-6 flex-item-no-shrink txt-subtle" %>
        Dashboard
      <% end %>
    </li>
    <li style="margin-block-start: var(--space-6);">
      <%= active_link_to staff_accounts_path,
            class: "flex align-center border-radius txt-small font-weight-bold",
            style: "gap: var(--space-3); padding: var(--space-2);",
            active_class: "fill-selected",
            inactive_class: "" do %>
        <%= lucide_icon "building", class: "size-6 flex-item-no-shrink txt-subtle" %>
        Accounts
      <% end %>
    </li>
  </ul>
</nav>
