<%= render Elements::AlertComponent.new(title: "Important Notice", variant: :default) do %>
  <p>This is a longer message with multiple paragraphs.</p>
  <p class="mt-2">You can include any HTML content here.</p>
<% end %>
