<div class="flex items-center gap-4">
  <% shapes.each do |shape| %>
    <%= render Ui::AvatarComponent.new(
      src: "https://i.pravatar.cc/150?img=1",
      alt: "User",
      shape: shape,
      size: :lg
    ) %>
  <% end %>
</div>
