<div class="flex items-center gap-4">
  <% shapes.each do |shape| %>
    <%= render Ui::AvatarComponent.new(
      src: "/test/fixtures/files/random.jpeg",
      alt: "User",
      shape: shape,
      size: :lg
    ) %>
  <% end %>
</div>
