<div class="flex items-center gap-4">
  <% sizes.each do |size| %>
    <%= render Ui::AvatarComponent.new(
      src: "/test/fixtures/files/random.jpeg",
      alt: "User",
      size: size
    ) %>
  <% end %>
</div>
