<div id="toast-base">
  <% content_for :preview_example, flush: true do %>
    <div class="flex flex-col gap-4">
      <%= render_toast_container(auto_show: true) do %>
        <%= render_toast(
          title: "Event has been created",
          description: "Your event was successfully created and is now available.",
          variant: :default
        ) %>
      <% end %>

      <div class="flex flex-row gap-4 justify-center">
        <%= render_button(text: "Show Toast", variant: :default, data: { action: "click->ui--toast#open" }) %>
      </div>
    </div>
  <% end %>

  <% content_for :code_example, flush: true do %>
<%%= render_toast_container do %>
  <%%= render_toast(
    title: "Event has been created",
    description: "Your event was successfully created and is now available.",
    variant: :default
  ) %>
<%% end %>

<%# Button to trigger the toast %>
<%%= render_button(text: "Show Toast", data: { action: "click->ui--toast#open" }) %>
  <% end %>

  <%= render partial: "admin/docs/shared/code_example", locals: {
    heading: "Basic Toast",
    description: "A basic toast provides temporary feedback to users after they complete an action."
  } %>
</div>