<div id="toast-without-icon">
  <% content_for :preview_example, flush: true do %>
    <div class="flex flex-col gap-4">
      <div class="flex flex-row gap-4 justify-center">
        <%= render_button(
          text: "Toast without Icon",
          variant: :default,
          data: { controller: "ui--toast", target: "#toast-without-icon-example" }
        ) %>
      </div>

      <%= render_toast_container(id: "toast-without-icon-example") do %>
        <%= render_toast(
          title: "Simple Notification",
          description: "This is a simple notification without an icon.",
          show_icon: false
        ) %>
      <% end %>
    </div>
  <% end %>

  <% content_for :code_example, flush: true do %>
<%%= render_toast_container(id: "toast-without-icon-example") do %>
  <%%= render_toast(
    title: "Simple Notification",
    description: "This is a simple notification without an icon.",
    show_icon: false
  ) %>
<%% end %>

<%# Button to trigger the toast %>
<%%= render_button(
  text: "Toast without Icon",
  data: {
    controller: "ui--toast",
    target: "#toast-without-icon-example"
  }
) %>
  <% end %>

  <%= render partial: "admin/docs/shared/code_example", locals: {
    heading: "Toast without Icon",
    description: "For simpler notifications, you can create toasts without icons by setting the 'show_icon' parameter to false."
  } %>
</div>