<%# locals: (title:, breadcrumb_items: [], description: nil) -%>

<div class="mb-6">
  <%= render_breadcrumb breadcrumb_items %>

  <%= content_tag :h1, title, id: title, class: "md:text-4xl text-3xl text-neutral-800 font-bold dark:text-neutral-100 tracking-tight relative" %>

  <% if description.present? %>
    <div class="prose prose-neutral dark:prose-invert mt-3 prose-lg prose-p:text-neutral-500 dark:prose-p:text-neutral-400">
      <p><%= description %></p>
    </div>
  <% end %>
</div>
