<% if count > 0 %>
  <span class="inline-flex items-center justify-center min-w-[1.25rem] h-5 px-1 text-xs font-semibold text-white bg-red-600 rounded-full">
    <%= count > 99 ? "99+" : count %>
  </span>
<% end %>
