<div id="card-base">
  <% content_for :preview_example, flush: true do %>
    <%= render_card(
      title: "Card Title",
      description: "This is a simple card with just a title and description."
    ) %>
  <% end %>

  <% content_for :code_example, flush: true do %>
<%%= render_card(
  title: "Card Title",
  description: "This is a simple card with just a title and description."
) %>
  <% end %>

  <%= render partial: "admin/docs/shared/code_example", locals: { heading: "Base Card" } %>
</div>
