<%# locals: () %>
<% if Current.account.present? %>
  <%= link_to root_path, class: "flex align-center gap-half align-self-center font-weight-medium txt-undecorated" do %>
    <%= account_logo(Current.account, class: "size-8") %>
    <span class="font-weight-bold txt-primary txt-x-large"><%= Current.account.name %></span>
  <% end %>
<% else %>
  <div class="flex align-center gap-half align-self-center font-weight-medium">
    <%= inline_svg_tag "mark.svg", class: "size-8" %>
    <span class="font-weight-bold txt-primary txt-x-large">FeedbackBin</span>
  </div>
<% end %>
