<%# locals: (tag_item:, idea:) %>
<li class="flex" data-filter-target="item" data-navigable-list-target="item">
  <%= button_to idea_taggings_path(idea, params: { tag_title: tag_item.title }),
        method: :post,
        "aria-pressed": idea.tagged_with?(tag_item),
        class: "tag-picker__item",
        form_class: "full-width flex-1" do %>
    <span class="tag-picker__item-label"><%= tag_item.hashtag %></span>
    <%= lucide_icon "check", class: "h-4 w-4 tag-picker__item-check" %>
  <% end %>
</li>
