<div class="flex items-center gap-4">
  <%= render Elements::AvatarComponent.new(
    src: "https://avatars.githubusercontent.com/u/1930474?v=4",
    alt: "User",
    shape: :circle,
    size: :lg
  ) %>
  <%= render Elements::AvatarComponent.new(
    src: "https://avatars.githubusercontent.com/u/1930474?v=4",
    alt: "User",
    shape: :square,
    size: :lg
  ) %>
</div>
