<div class="flex items-center gap-4">
  <%= render Elements::AvatarComponent.new(
    src: "https://avatars.githubusercontent.com/u/1930474?v=4",
    alt: "User",
    size: :sm
  ) %>
  <%= render Elements::AvatarComponent.new(
    src: "https://avatars.githubusercontent.com/u/1930474?v=4",
    alt: "User",
    size: :default
  ) %>
  <%= render Elements::AvatarComponent.new(
    src: "https://avatars.githubusercontent.com/u/1930474?v=4",
    alt: "User",
    size: :lg
  ) %>
  <%= render Elements::AvatarComponent.new(
    src: "https://avatars.githubusercontent.com/u/1930474?v=4",
    alt: "User",
    size: :xl
  ) %>
</div>
