<%# locals: (tag:, idea:, removable: false) %>
<% tagging = idea.taggings.find { |t| t.tag_id == tag.id } if removable %>

<%= render Elements::BadgeComponent.new(
  variant: :warning,
  id: dom_id(tag, :tag_for_idea)
) do %>
  <span class="font-weight-medium"><%= tag.hashtag %></span>
  <% if removable && tagging %>
    <%= button_to idea_tagging_path(idea, tagging),
      method: :delete,
      style: "margin-inline-start: 0.125rem;",
      "aria-label": t("ideas.taggings.remove_tag", tag: tag.title),
      form: { data: { turbo: true } } do %>
      <%= lucide_icon "x", class: "size-3" %>
    <% end %>
  <% end %>
<% end %>
