<div class="flex justify-center p-8">
  <%= render Ui::DropdownMenuComponent.new do |dropdown| %>
    <% dropdown.with_trigger do %>
      <%= render Ui::ButtonComponent.new(variant: :outline) do %>
        Actions
      <% end %>
    <% end %>

    <% dropdown.with_item do %>
      Profile
    <% end %>
    <% dropdown.with_item(disabled: true) do %>
      Settings (Disabled)
    <% end %>
    <% dropdown.with_item do %>
      Keyboard shortcuts
    <% end %>
    <% dropdown.with_separator %>
    <% dropdown.with_item(disabled: true) do %>
      Team (Coming Soon)
    <% end %>
  <% end %>
</div>
