<div class="flex justify-center p-8">
  <%= render Ui::DropdownMenuComponent.new do |dropdown| %>
    <% dropdown.with_trigger do %>
      <%= render Ui::ButtonComponent.new(variant: :outline) do %>
        File
      <% end %>
    <% end %>

    <% dropdown.with_label do %>
      Files
    <% end %>
    <% dropdown.with_item(inset: true) do %>
      New File
    <% end %>
    <% dropdown.with_item(inset: true) do %>
      New Folder
    <% end %>
    <% dropdown.with_separator %>
    <% dropdown.with_label do %>
      More
    <% end %>
    <% dropdown.with_item(inset: true) do %>
      Import
    <% end %>
    <% dropdown.with_item(inset: true) do %>
      Export
    <% end %>
  <% end %>
</div>
