<div class="flex justify-center p-8">
  <%= render Ui::DropdownMenuComponent.new do |dropdown| %>
    <% dropdown.with_trigger do %>
      <%= render Ui::ButtonComponent.new(variant: :outline) do %>
        View Options
      <% end %>
    <% end %>

    <% dropdown.with_label do %>
      Appearance
    <% end %>
    <% dropdown.with_checkbox_item(checked: true) do %>
      Status Bar
    <% end %>
    <% dropdown.with_checkbox_item(checked: false) do %>
      Activity Bar
    <% end %>
    <% dropdown.with_checkbox_item(checked: true) do %>
      Panel
    <% end %>
  <% end %>
</div>
