<%# locals: (recent_visits:) %>

<div class="search-recent">
  <p class="search-recent__label"><%= t("searches.dialog.recent_visits") %></p>
  <div class="search-recent__list">
    <% recent_visits.each do |visit| %>
      <%= link_to idea_path(visit.idea),
          class: "search-recent__item",
          data: { turbo_frame: "_top" } do %>
        <%= lucide_icon "lightbulb", class: "size-4 txt-subtle" %>
        <span class="overflow-ellipsis"><%= visit.idea.title %></span>
      <% end %>
    <% end %>
  </div>
</div>
