<%# locals: (results:, query:, recent_queries: []) %>

<% if query.blank? && recent_queries.any? %>
  <%= render "searches/recent_queries", recent_queries: recent_queries %>
<% elsif query.present? && results.empty? %>
  <div class="search-empty">
    <%= lucide_icon "search-x", class: "size-8 txt-subtle" %>
    <p class="txt-small txt-subtle"><%= t("searches.results.no_results") %></p>
  </div>
<% else %>
  <div class="search-results-list">
    <% results.each do |result| %>
      <%= render "searches/result", result: result %>
    <% end %>
  </div>
<% end %>
