<%# locals: (results:, query:, recent_queries: [], recent_visits: []) %>

<% if query.blank? %>
  <%= render "searches/empty_state", recent_visits: recent_visits, recent_queries: recent_queries %>
<% elsif query.present? && results.empty? %>
  <%= render Elements::EmptyStateComponent.new(
    icon: "search-x",
    title: t("searches.results.no_results"),
    variant: :inline
  ) %>
<% else %>
  <div class="search-results-list">
    <% results.each do |result| %>
      <%= render "searches/result", result: result %>
    <% end %>
  </div>
<% end %>
