<div class="flex flex-wrap gap-4">
  <%= render Ui::BadgeComponent.new(variant: :default) do %>
    Default
  <% end %>
  <%= render Ui::BadgeComponent.new(variant: :secondary) do %>
    Secondary
  <% end %>
  <%= render Ui::BadgeComponent.new(variant: :destructive) do %>
    Destructive
  <% end %>
  <%= render Ui::BadgeComponent.new(variant: :outline) do %>
    Outline
  <% end %>
</div>
