<div id="<%= dom_id post %>">
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Title</p>
    <%= post.title %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Description</p>
    <%= post.description %>
  </div>

  <% if action_name != "show" %>
    <%= link_to "View this post", post, class: "btn btn-secondary" %>
  <% end %>
</div>
