<aside class="md:w-64 lg:w-80 md:shrink-0 pt-6 pb-12 md:pb-20">
  <div class="md:pl-6 lg:pl-10">
    <div class="space-y-6">
      <div>
        <div class="text-xs uppercase text-white font-semibold mb-4">New Discussions</div>
        <ul class="space-y-3">
          <li>
            <div class="flex items-center mb-1">
              <img class="rounded-full mr-2" src="https://images.unsplash.com/photo-1505840717430-882ce147ef2d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                  width="20" height="20" alt="Emma Dorsey">
              <div class="text-xs">
                <a class="font-medium text-blue-500 hover:text-blue-400" href="#0">
                  MaryLync77
                </a>
              </div>
            </div>
            <h3 class="text-sm mb-1">
              <a class="text-gray-200 font-semibold hover:text-white" href="/posts/1">
                Search Startup Jobs - Week 5 - Build in Public - Slow Week
              </a>
            </h3>
            <div class="text-xs text-gray-600">
              <span class="text-gray-500">22 Feb</span> · <span class="text-gray-500">14 Comments</span>
            </div>
          </li>
          <li>
            <div class="flex items-center mb-1">
              <img class="rounded-full mr-2" src="https://images.unsplash.com/photo-1505840717430-882ce147ef2d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                  width="20" height="20" alt="Emma Dorsey">
              <div class="text-xs">
                <a class="font-medium text-blue-500 hover:text-blue-400" href="#0">
                  Zakaria_C
                </a>
              </div>
            </div>
            <h3 class="text-sm mb-1">
              <a class="text-gray-200 font-semibold hover:text-white" href="/posts/1">
                What are the most useful tools for SEO marketing?
              </a>
            </h3>
            <div class="text-xs text-gray-600">
              <span class="text-gray-500">22 Feb</span> · <span class="text-gray-500">44 Comments</span>
            </div>
          </li>
          <li>
            <div class="flex items-center mb-1">
              <img class="rounded-full mr-2" src="https://images.unsplash.com/photo-1505840717430-882ce147ef2d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                  width="20" height="20" alt="Emma Dorsey">
              <div class="text-xs">
                <a class="font-medium text-blue-500 hover:text-blue-400" href="#0">
                  ElenMary182
                </a>
              </div>
            </div>
            <h3 class="text-sm mb-1">
              <a class="text-gray-200 font-semibold hover:text-white" href="/posts/1">
                How can you minimize the customer acquisition cost?
              </a>
            </h3>
            <div class="text-xs text-gray-600">
              <span class="text-gray-500">20 Feb</span> · <span class="text-gray-500">19 Comments</span>
            </div>
          </li>
        </ul>
      </div>

      <div>
        <div class="text-xs uppercase text-white font-semibold mb-4">Popular Posts</div>
        <ul class="space-y-3">
          <li>
            <div class="flex items-center mb-1">
              <img class="rounded-full mr-2" src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" width="16" height="16" alt="Hector Gibbons">

              <div class="text-xs">
                <a class="font-medium text-blue-500 hover:text-blue-400" href="#0">
                  MaryLync77
                </a>
              </div>
            </div>
            <h3 class="text-sm mb-1">
              <a class="text-gray-200 font-semibold hover:text-white" href="/posts/1">
                How do you decide and keep focus on the <em class="italic">"right"</em> things?
              </a>
            </h3>
            <div class="text-xs text-gray-600">
              <span class="text-gray-500">22 Feb</span> · <span class="text-gray-500">14 Comments</span>
            </div>
          </li>
          <li>
            <div class="flex items-center mb-1">
              <img class="rounded-full mr-2" src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" width="16" height="16" alt="Hector Gibbons">

              <div class="text-xs">
                <a class="font-medium text-blue-500 hover:text-blue-400" href="#0">
                  Zakaria_C
                </a>
              </div>
            </div>
            <h3 class="text-sm mb-1">
              <a class="text-gray-200 font-semibold hover:text-white" href="/posts/1">
                How do you approach building a team for your startup?
              </a>
            </h3>
            <div class="text-xs text-gray-600">
              <span class="text-gray-500">22 Feb</span> · <span class="text-gray-500">44 Comments</span>
            </div>
          </li>
          <li>
            <div class="flex items-center mb-1">
              <img class="rounded-full mr-2" src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" width="16" height="16" alt="Hector Gibbons">

              <div class="text-xs">
                <a class="font-medium text-blue-500 hover:text-blue-400" href="#0">
                  IndieMark
                </a>
              </div>
            </div>
            <h3 class="text-sm mb-1">
              <a class="text-gray-200 font-semibold hover:text-white" href="/posts/1">
                The 5 big lessons I've learnt from Geeks and Experts
              </a>
            </h3>
            <div class="text-xs text-gray-600">
              <span class="text-gray-500">20 Feb</span> · <span class="text-gray-500">19 Comments</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</aside>
