<aside class="md:w-64 lg:w-80 md:shrink-0 pt-6 pb-12 md:pb-20">
  <div class="md:pl-6 lg:pl-10">
    <div class="space-y-6">
      <div>
        <div class="text-xs text-white font-semibold mb-4">Category</div>
      </div>

      <div>
        <div class="text-xs text-white font-semibold mb-4">Labels</div>
      </div>

      <div>
        <div class="text-xs text-white font-semibold mb-4">Participants</div>
      </div>

      <div>
        <div class="text-xs text-white font-semibold mb-4">Notifications</div>
      </div>
    </div>
  </div>
</aside>
