<main class="flex-1 overflow-y-auto md:pt-4 pt-4 px-6  bg-base-200">
  <div class="card w-full p-6 bg-base-100 shadow-xl my-10">
    <div class="text-xl font-semibold ">Profile Settings</div>
    <div class="divider mt-2"></div>
    <div class="h-full w-full pb-6 bg-base-100">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div class="form-control w-full">
          <label class="label">
            <span class="label-text text-base-content">Name</span>
          </label>
          <input type="text" placeholder="" class="input  input-bordered w-full " value="Alex">
        </div>
        <div class="form-control w-full">
          <label class="label">
            <span class="label-text text-base-content">Email Id</span>
          </label>
          <input type="text" placeholder="" class="input  input-bordered w-full " value="alex@dashwind.com">
        </div>
        <div class="form-control w-full">
          <label class="label">
            <span class="label-text text-base-content">Title</span>
          </label>
          <input type="text" placeholder="" class="input  input-bordered w-full " value="UI/UX Designer">
        </div>
        <div class="form-control w-full">
          <label class="label">
            <span class="label-text text-base-content">Place</span>
          </label>
          <input type="text" placeholder="" class="input  input-bordered w-full " value="California">
        </div>
        <div class="form-control w-full">
          <label class="label">
            <span class="label-text text-base-content">About</span>
          </label>
          <textarea class="textarea textarea-bordered w-full" placeholder=""></textarea>
        </div>
      </div>
      <div class="mt-16">
        <button class="btn btn-primary float-right">Update</button>
      </div>
    </div>
  </div>
</main>

