<li class="relative flex items-center space-x-4 px-4 py-4 sm:px-6 lg:px-8">
  <div class="min-w-0 flex-auto">
    <div class="flex items-center gap-x-3">
      <div class="flex-none p-1">
        <%= organization_logo(organization) %>
      </div>
      <h2 class="min-w-0 text-sm font-semibold leading-6 text-white">
        <%= link_to organization_path(organization), class: "flex gap-x-2" do %>
          <span class="truncate"><%= organization.name %></span>
          <span class="absolute inset-0"></span>
        <% end %>
      </h2>
    </div>
  </div>
  <svg class="h-5 w-5 flex-none text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
    <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
  </svg>
</li>
