<% content_for :title, @organization.name %>

<div class="py-10">
  <header>
    <div class="flex justify-between items-center mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold leading-tight tracking-tight text-gray-900 dark:text-white">
        <%= @organization.name %>
      </h1>
      <div class="whitespace-nowrap">
        <%= link_to "Edit", edit_organization_path(@organization), class: "btn btn-secondary" if policy(@organization).edit? %>
        <div class="inline-block">
          <%= button_to "Destroy", @organization, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn btn-danger" if policy(@organization).destroy? %>
        </div>
      </div>
    </div>
  </header>
</div>
