<%# locals: () %>
<div class="panel panel--compact skeleton-comment" aria-hidden="true">
  <div class="panel__body">
    <div class="flex align-center margin-block-end-half">
      <span class="skeleton skeleton--circle" style="inline-size: 2rem; block-size: 2rem; margin-inline-end: var(--space-2);"></span>
      <span class="skeleton skeleton--text" style="inline-size: 8rem;"></span>
    </div>
    <span class="skeleton skeleton--text" style="inline-size: 95%; margin-block-end: var(--space-2);"></span>
    <span class="skeleton skeleton--text" style="inline-size: 80%; margin-block-end: var(--space-2);"></span>
    <span class="skeleton skeleton--text" style="inline-size: 60%;"></span>
  </div>
</div>
