<%# locals: () %>
<li class="panel panel--interactive skeleton-card" aria-hidden="true">
  <div class="pad-inline">
    <div class="flex gap" style="--column-gap: var(--space-3);">
      <span class="skeleton skeleton--circle" style="inline-size: 2.5rem; block-size: 2.5rem;"></span>
      <div class="flex-item-grow flex flex-column gap-3">
        <span class="skeleton skeleton--title" style="inline-size: 70%;"></span>
        <span class="skeleton skeleton--text" style="inline-size: 40%;"></span>
        <span class="skeleton skeleton--text" style="inline-size: 90%;"></span>
        <span class="skeleton skeleton--text" style="inline-size: 80%;"></span>
        <div class="flex align-center gap-half">
          <span class="skeleton skeleton--circle" style="inline-size: 1.5rem; block-size: 1.5rem;"></span>
          <span class="skeleton skeleton--text" style="inline-size: 6rem;"></span>
        </div>
      </div>
    </div>
  </div>
</li>
