<% if resource.errors.any? %>
  <div class="rounded-md bg-red-50 p-4 dark:bg-gray-800 dark:text-red-400" role="alert">
    <div class="flex">
      <div class="flex-shrink-0">
        <%= inline_svg "icons/solid/x-circle.svg", class: "h-5 w-5 text-red-500" %>
        <span class="sr-only">Danger</span>
      </div>
      <div class="ml-3">
        <h3 class="text-sm font-medium">
          <%= I18n.t("errors.messages.not_saved", count: resource.errors.count, resource: resource.class.model_name.human.downcase) %>
        </h3>
        <div class="mt-2 text-sm">
          <ul role="list" class="list-disc space-y-1 pl-5">
            <% resource.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>
