<%# locals: () %>

<div id="flash_toast" class="toast-container" role="region" aria-live="assertive" data-turbo-temporary>
  <% if alert = flash[:alert] %>
    <%= render Elements::ToastComponent.new(
      title: t(".alert_title"),
      description: alert,
      variant: :error,
      dismiss_after: 5000
    ) %>
  <% end %>

  <% if notice = flash[:notice] %>
    <%= render Elements::ToastComponent.new(
      title: t(".notice_title"),
      description: notice,
      variant: :success,
      dismiss_after: 5000
    ) %>
  <% end %>
</div>
