<%# locals: () %>

<div id="flash_toast" class="pointer-events-none fixed top-4 right-4 z-50 flex flex-col gap-2 w-full max-w-sm" role="region" aria-live="assertive" data-turbo-temporary>
  <% if alert = flash[:alert] %>
    <%= render Ui::ToastComponent.new(
      title: "Error",
      description: alert,
      variant: :error,
      dismiss_after: 5000
    ) %>
  <% end %>

  <% if notice = flash[:notice] %>
    <%= render Ui::ToastComponent.new(
      title: "Success",
      description: notice,
      variant: :success,
      dismiss_after: 5000
    ) %>
  <% end %>
</div>
