<nav class="flex flex-wrap items-center justify-between px-4 py-2 bg-white text-sm font-medium" data-controller="toggle">
    <div class="flex items-center flex-shrink-0 mr-6">
    <%= link_to root_path, class: "flex items-center text-gray-700 hover:text-gray-800" do %>
      <%#= render_svg "logo", styles: "fill-current" %>
      <span><%= "FeedbackBin" %></span>
    <% end %>
  </div>

  <div>
    <div>
      <% if authenticated? %>
        <%= button_to t(".sign_out"), session_path, method: :delete, class: "w-full text-left block p-2 text-base font-medium text-gray-500 hover:text-gray-800 hover:bg-gray-100" %>
      <% else %>
        <%= link_to t(".log_in"), sign_in_path, class: "nav-link" %>
      <% end %>
    </div>
  </div>
</nav>
