<%# locals: () %>

<%# TODO: providers list should come from global config %>
<% omniauth_providers = [ "google", "facebook" ] %>
<% omniauth_providers << "developer" unless Rails.env.production? %>
<% omniauth_providers.each do |provider| %>
  <%= button_to "/auth/#{provider}",
        method: :post,
        data: { turbo: false },
        class: "btn btn--outline full-width",
        style: "gap: var(--space-2);" do %>
    <%= inline_svg_tag "icons/brand/#{provider}.svg", class: "size-4" %>
    <span><%= t("oauth.sign_in_with", provider: OmniAuth::Utils.camelize(provider)) %></span>
  <% end %>
<% end %>
