<% content_for :title, t(".title") %>

<div class="container mx-auto max-w-4xl">
  <%= render partial: "admin/settings/header" %>

  <div class="mt-8">
    <div class="mb-6">
      <h2 class="text-lg font-medium"><%= t(".title") %></h2>
      <p class="text-sm text-muted-foreground"><%= t(".description") %></p>
    </div>

    <div class="card">
      <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
        <% @memberships.each do |membership| %>
          <%= render membership %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
