<!DOCTYPE html>
<html lang="en">
  <%= render "shared/head" %>

  <%= tag.body class: "flex flex-column min-block-size-screen",
        data: {
          controller: "local-time theme-application",
          theme_application_preference_value: "system"
        } do %>
    <%= render "flash" %>
    <main id="main" class="flex-item-grow flex flex-column align-center justify-center gap" style="--main-max-inline-size: 100dvw; --row-gap: var(--space-6);">
      <%= yield %>
    </main>
  <% end %>
</html>
